body{
	background: silver;
}

img{
	width: 100px;
	height: 100px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}